@charset "utf-8";

/* 공통 */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    position: absolute;
    left: -999px;
}

address {
    font-style: normal;
}

/* body */
    body {
    position: relative;
    background: url(../img/animals-2025617_1281.png) no-repeat right top;
}

@media screen and (max-width: 1359px ) {
    body {
        background: none;
    }
}


/* header */
    
    
    #head {
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 999;
        width: 100%;
        display: flex;
    }
    
    #head h1 {
        width: 92px;
        height: 88px;
        margin-left: 200px;
        background: url(../img/logo.JPG) no-repeat center / contain;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 15px;
    }
    
    /* gnb */
    #gnb {
        padding-top: 25px;
    
    }
    
    #snb {
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 30px;
    
    }
    
    #snb>li>a {
        display: block;
        padding: 0 30px;
    
    }
    
    .sub {
        opacity: 0;
        text-align: center;
    }
    
    .sub>li {
        line-height: 30px;
    }
    
    /* main  section 공통*/
    main {
        padding-top: 150px;
    }
    
    #main {
        position: relative;
        z-index: 9;
    }
    
    #main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 200px;
        width: 40%;
        height: 850px;
        background: url(../img/main_1.jpg) no-repeat center / cover;
    }

    @media screen and (max-width: 1388px ) {        
        #main::before {
          left: 0;
          width: 100%;
          height: 100%;
        }      
    }
    
    #main>div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 600px;
        margin-left: 500px;
    }
    
    #main h2,
    #main p {
        opacity: 0;}
    
    #main h2 span {
        display: block;
        margin-left: 100px;
    }
    
    #main p {
        font-size: 24px;}
    
    /*  introduction */
    
    #introduction {
        height: 900px;
        position: relative;
        background:
            url(../img/textured-mulberry-paper.png) no-repeat center / cover;
    
    }
    
    #introduction > div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0 0 300px;
    }
    
    #introduction p {
        line-height: 30px;
        font-size: 18px;
        padding-bottom: 40px;
    }
    
    #introduction .inimg {
        position: absolute;
        width: 712px;
        top: 150px;
        right: 0;
        /* transform: translate(-50%, -50%); */
        opacity: 0;
      }
    
    #introduction a {
        display: block;
        background-color: #000;
        color: #fff;
        text-align: center;
        padding-top: 5px;
        width: 150px;
        height: 30px;
        font-size: 15px;
    }
    
    @media screen and ( max-width: 1390px ) {
        #introduction { 
            height: auto;
            padding: 10vh 0;
        }
        #introduction > div {
            width: 100%;           
            padding: 0; 
        }  
        #introduction img { display: none; }
        #introduction p {
            padding-bottom: 20px;
            line-height: 1.5;
            font-size: 3vw;
        }
        #introduction a {
            font-size: 2vw;
        }
        #introduction a {
            padding: 10px 20px;
            width: auto;
            height: auto;
        }
    }
    
    /* menu */
    
    #menu {
        background: url(../img/flower_1.png) no-repeat right top,
            url(../img/flower.png) no-repeat left center,
            url(../img/flower_1.png) no-repeat right bottom;
    
    }
    
    #menu h2 {
        padding-top: 150px;
        text-align: center;
        background: url(../img/img_41.png) no-repeat center;
    } 
    
    #menu p {
        text-align: center;
        margin: 60px 0;
    }
    
    #menu a {
        display: block;
        background-color: #000;
        color: #fff;
    
        text-align: center;
        padding-top: 5px;
        width: 150px;
        height: 30px;
        font-size: 15px;
        margin: 100px auto;
    }
    
    #menu a:hover {
        color: #000;
        background: rgb(223, 190, 106);
    }
    
    @media screen and ( min-width: 1360px ) {
        #menu > div { width: 1360px; margin: 0 auto; }
        #menu h2 {
            display: block;
            font-size: 1vh;
        }
    }

    @media screen and ( max-width: 799px ) {

        #main {
          width: 100%;
         
      }

      
      #main p { font-size: 20px; }
      
      #menu {
          background: url(../img/flower_1.png) no-repeat right top,
              url(../img/flower.png) no-repeat left 40%,
              url(../img/flower_1.png) no-repeat right bottom;
          background-size: 100px;
      
          font-size: 18px;
      }

      #menu p {
          margin: 50px 0;
          font-size: 14px;
      }

      #menu img {
          width: 90%;
      }

      .menuInner > dt { display: block; 
          padding-top: 20px;
          font-size: 24px; }

      .menuInner > dd {font-size: 16px; 
                      padding-bottom: 50px;
      }
  }
    /* menuInner */
    
    .menuInner {
        font-size: 18px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .menuInner dt {
        align-self: end;
        margin-bottom: 50px;
        font-size: 35px;
    }
    
    .menuInner dd:last-of-type {
        grid-area: 1 / 1 / 3 / 2;
    }
    
    .menuInner.me_2 dd:last-of-type {
        grid-area: 1 / 2 / 3 / 3;
    }

    @media screen and ( max-width: 1359px ) {
        .menuInner { display: block; }
    }

    @media screen and ( max-width: 799px ) {
      .menuInner > dt { display: block; 
          padding-top: 20px;
          font-size: 24px; }
      .menuInner > dd {font-size: 16px; 
                      padding-bottom: 50px;
      }
  }
    
    /* news */
    
    #news {
        padding: 100px 0 200px 0;
        background: url(../img/winter_2.png) no-repeat left 10%,
            url(../img/winter_1.png) no-repeat right bottom 10%,
            url(../img/texture.png) no-repeat center / cover;
    }
    
    #news h2,
    #news p {
        text-align: center;
        padding: 10px;
    }
    
    #newsInner {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        line-height: 0;
    }
    
    #newsInner>li {
        border-bottom: 1px solid #a5a5a5;
        padding: 30px;
    }
    
    #newsInner li:first-child {
        border-top: 2px solid #000;
    }
    
    #newsInner li:last-child {
        border-bottom: 2px solid #000;
    }
    
    #newsInner li a {
        display: block;
        text-align: left;
    }
    
    #newsInner li span {
        display: block;
        text-align: right;
    }
    @media screen and (max-width: 1359px) {
        #news {
            background:
                url(../img/texture.png) no-repeat center / cover;
        }
    }

    @media screen and (max-width: 799px) {
       
        #news h2 { 
            background: url(../img/winter_2_1.png) no-repeat right / contain,
                        url(../img/winter_1_1.png) no-repeat left /  contain ;
            background-size: 80px 45px;
            margin: 0 100px ;
            font-size: 50px;
        }

        #newsInner {
            width: 500px;
            font-size: 12px;
        }
    }
    
    /* footer */
    
    #footer {
    
        background: url(../img/logo.JPG) no-repeat 5% / contain,
            url(../img/texture.png) no-repeat center / cover;
        border-top: 2px solid #aaa79d;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 10px;
    }
    
    #sns {
        display: flex;
        flex-direction: row-reverse;
    }
    
    #sns li {
        display: block;
        width: 40px;
        margin-left: 15px;
    }
    
    #sns li a {
        display: block;
        height: 39px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    
    #sns .ins a {
        background: url(../img/sns_2.png) no-repeat;
    
    }
    
    #sns .face a {
        background: url(../img/sns_1.png) no-repeat;
    }

    @media screen and (max-width: 1359px ) {
        #footer {
            background-image: url(../img/texture.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media screen and (max-width: 799px ) {
        #footer {
            flex-direction: column;
        }
    }

